@import "./navbar.css";
@import "./auth.css";
@import "./classes.css";
@import "./imagens.css";
@import "./sessao-pesquisa.css";
@import "./effects/parallax.css";
@import "./effects/sessao.css";

@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Lexend:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(var(--dark-c));
}

:root {
    --main-c: 247, 201, 194;
    --sec-c: 244, 143, 123;
    --tert-c: 186, 219, 208;
    --quat-c: 5, 107, 128;
    --light-c: 246, 242, 255;
    --dark-c: 15, 15, 15;
}

#colors { 
    color: rgb(247, 201, 194);
    color: rgb(244, 143, 123);
    color: rgb(186, 219, 208);
    color: rgb(5, 107, 128);
 
    color: rgb(15, 15, 15);
    color: rgb(246, 242, 255);
}

body {
    min-height: 95vh;
    font-family: "Lexend", sans-serif;
    background-color: rgb(var(--light-c));
}

body a {
    text-decoration: none !important;
}