.sessoes {
    border-radius: 10px;
    margin: 0.5rem;
    padding: 1rem;
}

.botaoSessao {
    background-color: transparent;
    border: none;
    border-bottom: 4px solid transparent;
    transition: 0.25s;
}
.botaoSessao:hover {
    border-bottom-color: rgb(var(--dark-c));
}
.botao-active {
    border-bottom-color: rgb(var(--quat-c));
    color: rgb(var(--quat-c));
}
.active {
    display: block;
}
